 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-brand">
        
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', home_index_path %></li>
            <li><%= link_to 'About', home_about_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to "Orders", orders_path %></li>
            <li><%= link_to 'Contact', home_contact_path %></li>
          </ul>

          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                 <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path  %></li>
              <% end %>
            </ul>

            <%= form_with(url: products_path, method: 'get', local: true, class: 'navbar-form navbar-right search-form') do |form| %>
              <div class="input-group add-on">
                <%= form.text_field :q, id: 'q', class: "form-control", placeholder: "Search ...", value: params[:q] %>
                </div><!-- input-group-btn -->
              </div>
            <% end %>
          </div><!-- right -->

        </div><!-- myNavbar -->

      </div><!-- end container-fluid -->
    </nav><!-- end navbar -->